*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*gitignore*.tf
.terraform/
*.log
*.bak
.vagrant/

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.DS_Store
.vscode/
.sentinel
.terraformrc
terraform.rc
